<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
            </div>
        </div>
        <br>
        <div class="row">
            <p class="lead">
                Open-Source Full-Stack Solution For MEAN Applications by
                <span class="btn btn-success btn-lg">ASIF</span>
            </p>
        </div>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item disabled active">Application List</a>
        <a href="#" class="list-group-item">DSE Stock Price List</a>
        
        
    </div>
</section>
